.breadcrumb
  %h1 About...
  %p
    The site is based on an open-source railspeople project (available on <a href="http://github.com/prograils/railspeople">github</a>). Source code: <a href="http://github.com/justi/homeschooling">github</a>
  %br

  %p
    Country data and location come from <a href="http://www.ohadpr.com/2010/04/countries-approximate-lat-lon-and-iso-3166-1-alpha-2/index.html">ohadpr</a>, the maps were powered by <a href="http://developers.google.com/maps/">Google Maps</a>. Country flags and icons are by <a href="http://famfamfam.com/lab/icons/">Mark James</a>.